---
import Layout from "@/layouts/Layout.astro";
import { WaterLevelsTransmitters } from "@/lib/WaterLevelsTransmitters";
import ProductCard from "@/components/ProductCard.astro";
---

<Layout title="Water Level Monitoring | ICT Central Asia">
  <section class="bg-base-200 py-16">
    <div class="container mx-auto max-w-5xl px-4">
      <div class="mx-auto grid grid-cols-1 gap-8">
        {WaterLevelsTransmitters.map((item) => <ProductCard {...item} />)}
      </div>
    </div>
  </section>
</Layout>
